doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Projects
                    .row.gx-5.justify-content-center

                        .col-lg-11.col-xl-9.col-xxl-8

                            // Project Card 1
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                        .p-5
                                            h2.fw-bolder Baseball Swing Analysis
                                            p With yolov7, we track the bat and ball, then do the analysis on data(ex. Bat Speed,Exit Velo)
                                            .d-flex.align-items-center
                                                button.btn.btn-primary(type='button', onclick='showVideo()')
                                                    |  Demo Video
                                                    
                                                script.
                                                    function showVideo() {
                                                        window.open('./assets/Sports_Baseball_Bs_20240601_V1B1_侯詠章_bat_and ball_analyze.mp4', '_blank', 'width=700,height=400');
                                                    }
                                                
                                                button.btn.btn-primary.ms-3(type='button', onclick='showrepo()')
                                                    i.bi.bi-github.bi
                                                    |  Github repo
                                                    
                                                script.
                                                    function showrepo() {
                                                        window.open('https://github.com/Jar-17/yolov7_for_baseball', '_blank');
                                                    }

                            // Project Card 2
                            .card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                        .p-5
                                            h2.fw-bolder Pitcher Motion Analysis
                                            p With mediapipe, we track the pitcher's motion ,show the hand path and slow down clips to hightlight the important part in pitching 
                                            
                                            h6.fw-bolder Sideview Skeleton Analysis
                                            p 
                                            button.btn.btn-primary(type='button', onclick='showVideo1()')
                                                |  Demo Video
                                                                
                                            script.
                                                function showVideo1() {
                                                    window.open('./assets/Sports_Baseball_Bs_20240601_V1B1_侯詠章_sideview_skeleton.mp4', '_blank', 'width=700,height=400');
                                                }
                                            
                                            button.btn.btn-primary.ms-3(type='button', onclick='showrepo1()')
                                                i.bi.bi-github.bi
                                                |  Github repo
                                                
                                            script.
                                                function showrepo1() {
                                                    window.open('https://github.com/Jar-17/mediapipe_for_pitcher_motion', '_blank');
                                                }
                                            p
                                            h6.fw-bolder Frontview Release Point Analysis
                                            p
                                            button.btn.btn-primary(type='button', onclick='showVideo2()')
                                                |  Demo Video
                                                                
                                            script.
                                                function showVideo2() {
                                                    window.open('./assets/Sports_Baseball_Bs_20240601_V1B1_侯詠章_release_point.mp4', '_blank', 'width=700,height=400');
                                                }
                                            
                                            button.btn.btn-primary.ms-3(type='button', onclick='showrepo2()')
                                                i.bi.bi-github.bi
                                                |  Github repo
                                                
                                            script.
                                                function showrepo2() {
                                                    window.open('https://github.com/Jar-17/mediapipe_for_pitcher_motion', '_blank');
                                                }

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
